<h1>Create A Post</h1>


<form>
  <h2>Location Of Your Plant</h2>

  <div class="geo-container">
  <a href="#">Click to look up your coordinates</a>
    <!--<h2 class="color">hi</h2>-->
  </div>


  <section id="wrapper">
    Note: Click the ALLOW button to let the browser find your location.

    <article>
    </article>

  </section>





  <h2>Produce Type</h2>
  <select name="produce">
    <option value="fruit">Fruit</option>
    <option value="vegetable">Vegetable</option>
    <option value="herb">Herb</option>
  </select>

  <h2>Picture</h2>
  <input name="picture" placeholder="browse file" type="text"><br>
  <input type="submit" value="Submit"><br>
  <input type="submit" value="Cancel">
</form>





