

<h1>Welcome, <%=current_user.username%> </h1>


<ul>
  <li><%= link_to "Create a Harvest", new_harvest_path %></li>
  <li><%= link_to "View All Harvests", harvests_path %></li>
  <li><%= link_to "View/Edit My Harvests", my_harvests_path %></li>
</ul>









