

<h1>Welcome, <%=current_user.username%> </h1>


<form>
  <input name="search" placeholder="city or zip" type="search"><br>
  <input name="search" placeholder="produce type" type="search"><br>
  <input type="submit" value="Search">
</form>

<h3>
  or <br>
  <%= link_to "Create a Post", new_harvest_path %>
</h3>


<%= link_to "My Favorites", harvests_path %><br>

<%= link_to "My Posts", harvests_path %>